.orgBanner {
  width: 400px;
  height: 250px;
  border-radius: 20px;
}

.orgBanner:hover {
  cursor: pointer;
}

.proposal {
  width: 250px;
  height: 170px;
  border-radius: 15px;
}

.proposal:hover {
  cursor: pointer;
}
