.donate {
  border-radius: 30px;
  //padding: 20px 0;
  background: #fef2d3;
}

// .main {
//   background: linear-gradient(to right top, rgb(155, 155, 252) 21.32%, #e7edfd 65.29%);
// }

.btn-border {
  border-radius: 30px;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: '⚠ ';
}
